<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" id="titre" class="form-control" formControlName="titre">
    </div>
    <div class="form-group">
      <label for="contenu">Nom</label>
      <input type="text" id="contenu" class="form-control" formControlName="contenu">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Soumettre</button>
  </form>
</div>