<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': getPostLoveIts() > 0,
                'list-group-item-danger': getPostLoveIts() < 0}">
    <div class="d-flex w-100 justify-content-between">
    	<h5 class="mb-1">{{ getTitle() }}</h5>
      	<small>{{ getDate() | date: 'short' }}</small>
    </div>
	<p class="nb-1">{{ getContent() }}</p>
  <p>{{ getPostLoveIts() }}</p>

	<button class="btn btn-sm btn-success"
          (click)="onLoveIt()">Love it!</button>
	<button class="btn btn-sm btn-danger"
	      (click)="onDontLoveIt()">Don't love it!</button>
  <button class="btn btn-sm btn-danger pull-right"
        (click)="onDeletePost(post)">Supprimer post</button>
</li>

